<%- include('../layout/header') %>
<%- include('../layout/navibar') %>
<div class="col-sm-12">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h1>추가자재</h1>
    </div>
    <div class="panel-body">
      <div class="col-sm-12">
        <% for (i=0;i<limit;i++) {%>
        <p><%=array[i]%></p>
        <% } %>
      </div>
      <div class="col-sm-12 all">
          <% for (i=limit;i<array.length;i++) {%>
          <p><%=array[i]%></p>
          <% } %>
        </div>
      <div class="btn btn-danger more wide">더보기</div>
      <div class="btn btn-default cancel wide" style="display: none;">축소</div>
    </div>
  </div>
</div>

<script>
  $(".more").on("click", function() {
    $(this)
      .siblings(".all")
      .stop()
      .slideDown();
    $(this).css("display", "none");
    $(this)
      .siblings(".cancel")
      .css("display", "");
  });

  $(".cancel").on("click", function() {
    $(this)
      .siblings(".all")
      .stop()
      .slideUp();
    $(this).css("display", "none");
    $(this)
      .siblings(".more")
      .css("display", "");
  });
</script>
<%- include('../layout/footer') %>